<section class="padtb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12">          
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-md-4 desktop-view">
                        <app-userfilters></app-userfilters>
                    </div>
                    <div class="col-lg-9 col-xl-9 col-md-4 desktop-view">
                        <p>User name</p>
                    </div>          
                </div>
            </div>
        </div>
    </div>
</section>   
