<section class="padtb20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12">       
                <div>
                    <!--<div class="bradcrumb"><a href="">Home</a> / <a href="business-for-sale.html"></a></div>-->
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-3">
                <app-filters></app-filters>
            </div>
            <div class="col-lg-9 col-xl-9 col-md-9">
                <div class="row">
                    <!-- bfs title start -->
                    <div class="col-lg-6 col-xl-7 col-md-12">
                        <div class="about-us-text-area">
                            <h1>Get Business Services Worldwide<Br/><span>And Verified Business Consultants</span></h1>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <!-- bfs grid 1 start -->
                    <div *ngFor="let s of businessServiceList" class="col-lg-6 col-xl-6 col-md-12 seller-a">
                        <a href="/sell-a-business/business-service/{{s.id}}">
                          <div class="seller-person-list">
                             <div class="imges-area-1">
                                <img src="assets/images/Akhilesh-Thakur.jpg" width="100%" title="Mahesh-Sharma" alt="Mahesh-Sharma"/>
                             </div>
                             <div class="imges-area-2">
                                <div class="name-seller-1">
                                   {{s.companyName}} 
                                </div>                                
                                <div class="tell-seller">                                   
                                    <p><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{s.userName}}</a></p>
                                   <p><i class="fa fa-phone" aria-hidden="true"></i><a href="">+{{s.userContact}}</a></p>
                                   <p><i class="fa fa-mail" aria-hidden="true"></i><a href="">{{s.userMail}}</a></p>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{s.city}},{{s.state}} {{s.country}},{{s.zipCode}}</p>
                                </div>
                            </div>
                       </div>
                       </a>
                    </div>
                    <!-- bfs grid 1 finish -->                  
                 </div>
                <div class="next-btn-area" style="float: left;padding-bottom: 20px;">
                    <a class="next-btn" (click)="prevPage()">Prev</a>
                </div>
                <div class="next-btn-area" style="float: right;padding-bottom: 20px;">
                    <a class="next-btn" (click)="nextPage()">Next</a>
                </div>                
            </div>
        </div>
    </div>
</section> 
 
 
 
 
 <div class="clear"></div>