<section class="padd-30 sign-subscriobe">
   <div class="container">
   <div class="row justify-content-md-center">
   <div class="col-lg-10 col-xl-9 col-md-12">
   <div class="row">
   <!-- Signup for email alerts title start -->
   <div class="col-lg-4 col-md-4 col alerts-email">Signup for email alerts</div>
   <!-- Signup for email alerts title finish -->
   <div class="col-lg-8 col-md-8 email-alerts">
   
   <div class="input-group">
     <input type="text" [(ngModel)]="email" class="form-control email-alerts-searbox" placeholder="Email Address">     
     <button type="button" class="btn aleart-button" (click)="onSubmit()">Submit</button>
   </div>
   
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
<footer class="padd-30" style="padding-bottom: 100px;">
    <div class="container">
       <div class="row ">
          <!-- footer area 1 start -->
          <div class="col-lg-3 col-md-6 mb-30 col-6">
             <h2>For Investors</h2>
             <ul>
                <li><a href="/business-advisory">Business Advisory</a></li>
                <li><a href="/business-setup">Business Setup</a></li>
                <li><a href="/business-valuation">Business Valuation</a></li>
                <li><a href="#">Business Loan</a></li>
             </ul>
          </div>
          <!-- footer area 1 finish -->
          <!-- footer area 2 start -->
          <div class="col-lg-3 col-md-6 mb-30 col-6">
             <h2>For Businesses</h2>
             <ul>
                <li><a href="/buy-a-business/BUSINESS">Business For Sale</a></li>
                <li><a href="/buy-a-business/COMMERCIAL">Commercial for sale</a></li>
                <li><a href="/sell-a-business/buyers-or-invstors">Buyers/Investors</a></li>
                <li><a href="/buy-a-business/FRANCHISE">Franchisee Opportunities</a></li>
                <li><a href="/sell-a-business/brokers">Brokers</a></li>
                <li><a href="/sell-a-business/business-services">Business Services</a></li>
                <li><a href="/buy-a-business/DISTRESS">Distress Sale</a></li>
             </ul>
          </div>
          <!-- footer area 2 finish -->
          <!-- footer area 3 start -->
          <div class="col-lg-3 col-md-6 mb-30 col-6">
             <h2>Get Started</h2>
             <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
             </ul>
          </div>
          <!-- footer area 3 finish -->
          <!-- footer area 4 start -->
          <div class="col-lg-3 col-md-6 mb-30 col-6">
             <h2>Company</h2>
             <ul>
                <li><a href="how-it-works">How It Works</a></li>
                <li><a href="/about-us">About</a></li>
                <li><a href="testmonal">Testimonials</a></li>
                <li><a href="/blog-gride">Blog</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact-us">Contact</a></li>
                <li><a href="term-condition">Terms Of Conditions</a></li>
                <li><a href="privacy-policy">Privacy Policy</a></li>
             </ul>
          </div>
          <!-- footer area 4 finish -->
       </div>
       <div class="row">
          <!-- we accept area start -->
          <div class="col-xl-4 col-md-4 col-lg-4 col-4">
             <div class="logo"><a href="/"><img src="./assets/images/logo.png" title="Tobuz" alt="Tobuz" width="185" /></a></div>
          </div>
          <div class="col-xl-4 col-md-4 col-lg-4 col-4">
             <div class="visa-area1">we accept: <img src="./assets/images/visa-icon.jpg" title="we accept" alt="we accept"/></div>
          </div>
          <!-- we accept area finish -->
          <div class="col-lg-4 col-md-4 col-xl-4">
             <!-- footer social area start -->
             <div class="social-icon-footer">
                <ul>
                   <li><a href="https://www.facebook.com/tobuz/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="https://twitter.com/Tobuzcom" target="_blank"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="https://www.instagram.com/tobuzbusiness/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                   <li><a href="https://www.linkedin.com/company/tobuz/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
             </div>
             <!-- footer social area finish -->
          </div>
       </div>
       <br>
       <!-- footer copyright area start -->
       <div class="row copyright">
          <div class="col-lg-12"><a href="/term-condition" style="color:#00498e;">Terms and conditions</a> | <a href="/privacy-policy" style="color:#00498e;">Privacy Policy</a> © 2023 Designed By <a href="https://5thquarter.net/" style="color:#00498e;" target="_blank">FQI</a></div>
       </div>
       <!-- footer copyright area finish -->
    </div>
    <!-- footer mobile bottom bar area start -->
    <div class="fix-mobile-bar">
       <a href="/"><img src="./assets/images/home-icon.png" width="18" height="22"/><br/>Home</a>
       <a href="create-business-listings-dashboard.html"><img src="./assets/images/icon-5.png" width="19" height="22"/><br/>Add listing</a>
       <a href="search.html"><img src="./assets/images/search.png" width="16" height="22"/><br/>Search</a>
       <a href="/login"><img src="./assets/images/login-icon.png" width="16" height="22"/><br/>Login</a>
    </div>
    <!-- footer mobile bottom bar area finish -->
    <!-- whatsapp icon area start -->
    <a href="https://api.whatsapp.com/send?phone=971%20503744318&text=Hi,%20I%20am%20looking%20for%0D%0ABusiness%20to%20Buy%0D%0ABusiness%20to%20Sell%0D%0ABusiness%20Valuation%0D%0ABusiness%20Setup%0D%0ABusiness%20Advisory%20Service" class="float-icon" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!-- whatsapp icon area finish -->
 </footer>
