<section class="padtb50">
    <div class="container">
    <div class="row mb-20px">
    <div class="col-md-12 col-lg-12 col-xl-12 term-text">
    <!-- Business Advisory title start -->
    <h1>Business Valuation</h1>
    <!-- Business Advisory title finsh -->
    <div class="row">
    <!-- Business Advisory text area start -->
    <div class="col-md-6 col-lg-6 col-xl-6">
    <p>At Tobuz, we help businesses analyse their strength and weaknesses by determining their business value through business valuation, we aim to help companies, understand their current market value in case, if they were to exit at this point in time and thus take strategic decision related to the future of their business.</p>
    <p><span class="strong-setup">If you are an investor</span><br/>
    Business valuation helps you know the value of the firm or enterprise in which you are planning to invest. Tobuz can help you get in touch with the right people or team which can competently evaluate the intrinsic worth of a business and give you a heads-up before you approach a business to negotiate and buy.</p>
    <div class="Valuation">
    <h2 class="Valuation-title">What is Business Valuation?</h2>
    <p>Valuation is a technique used to capture the true value of the business. Common approaches used in business valuation include Discounted Cash Flow (DCF), Trading Comparables, and Transaction Comparables method.</p>
    </div>
    </div>
    <!-- Business Advisory text area finish -->
    <!-- Business Advisory image area start -->
    <div class="col-md-6 col-lg-6 col-xl-6">
    <img src="./assets/images/Business-Valuation.jpg" width="100%" title="Business Valuation" alt="Business Valuation"/></div>
    <!-- Business Advisory image area finish -->
    </div>
    <br/>
    <!-- Services We Provide for Enhancing area start -->
    <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
    <h2 style="text-align:center;" class="helping-title"><span style="color:#252525;">Why get a </span> Business Valued?</h2>
    </div>
    </div>
    <!-- Services We Provide for Enhancing area finish -->
    <div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Business Succession Planning area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Sale-of-the-Business.jpg" width="100%" title="Sale of the Business" alt="Sale of the Business"/>
    <p>Sale of the Business</p>
    </div>
    <!-- Business Succession Planning area finish -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Benchmarking, Performance criteria and Financial Metrics area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Raising-Funds-From-VC-or-IPO.jpg" width="100%" title="Raising Funds From VC or IPO" alt="Raising Funds From VC or IPO"/>
    <p>Raising Funds From VC or IPO</p>
    </div>
    <!-- Benchmarking, Performance criteria and Financial Metrics area finish -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Organizational Development Consulting area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Taxation-Purposes.jpg" width="100%" title="Taxation Purposes" alt="Taxation Purposes"/>
    <p>Taxation Purposes</p>
    </div>
    <!-- Organizational Development Consulting area finish -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Operational Reviews for Business Process Improvements area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Financial-Reporting.jpg" width="100%" title="Financial Reporting" alt="Financial Reporting"/>
    <p>Financial Reporting</p>
    </div>
    <!-- Operational Reviews for Business Process Improvements area finish -->
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Valuation Services area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Buying-Another-Business.jpg" width="100%" title="Buying Another Business" alt="Buying Another Business"/>
    <p>Buying Another Business</p>
    </div>
    <!-- Valuation Services area start -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Acquisition and Transaction Support area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Issue-of-Stock-to-Employees.jpg" width="100%" title="Issue of Stock to Employees" alt="Issue of Stock to Employees"/>
    <p>Issue of Stock to Employees</p>
    </div>
    <!-- Acquisition and Transaction Support area finish -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Business Strategy and Planning area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Liquidation-of-The-Company.jpg" width="100%" title="Liquidation of The Company" alt="Liquidation of The Company"/>
    <p>Liquidation of The Company</p>
    </div>
    <!-- Business Strategy and Planning area finish -->
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- Board Effectiveness and Planning area start -->
    <div class="Services-We-area">
    <img src="./assets/images/Litigation-Purposes.jpg" width="100%" title="Litigation Purposes" alt="Litigation Purposes"/>
    <p>Litigation Purposes</p>
    </div>
    <!-- Board Effectiveness and Planning area finish -->
    </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
    <!-- Benefits of Business Consulting Services title start -->
    <h2 style="text-align:center;" class="helping-title"><span style="color:#252525;">How to get your </span>Business Valued?<br/> <span style="font-size:16px; color:#707070;">There are three common approaches for valuing a business.</span></h2>
    <!-- Benefits of Business Consulting Services title start -->
    </div>
    </div>
    <div class="row">
            <div class="col-lg-12 offset-lg-12">
                <div class="accordion" id="accordionExample">
                <!-- accordion 1 start -->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons">add</i> Discounted Cash Flow (DCF)</a>									
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">A method to estimate the fair value of a company/business based on future cash flows. The DCF analysis finds the present value of expected future cash flows using a discount rate. This discount rate used is the appropriate Weighted Average Cost of Capital (WACC) that reflects the risk of the cash flows.</div>
                        </div>
                    </div>
                    <!-- accordion 1 finish -->
                    <!-- accordion 2 start -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">add</i> Transactionading Comparables </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">At any given time, stock prices normally reflect all available information on a particular company and industry. Hence, trading companies provide the best estimate for valuing a similar company. Based on the average multiples such as P/E, EV/EBITDA, EV/Sales, P/B, etc. calculated for all the companies similar to the one being valued, the same is used to calculate its enterprise value.</div>
                        </div>
                    </div>
                    <!-- accordion 2 finish -->
                    <!-- accordion 3 start -->
                    <div class="card">
                        <div class="card-header" id="headingthree">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree"><i class="material-icons">add</i> Transaction Comparables</a>
                            </h2>
                        </div>
                        <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                            <div class="card-body">The method is widely used to value a company during an acquisition. Similar to the above methods, but the comparables consists of companies that have previously undergone a takeover. In takeovers, the buyer pays a control premium, hence the company is valued at a higher rate.</div>
                        </div>
                    </div>
                    <!-- accordion 3 start -->
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </section>