<section class="padtb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12">          
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-md-4 desktop-view">
                        <app-userfilters></app-userfilters>
                    </div>
                    <div class="col-lg-9 col-xl-9 col-md-8">
                        <div class="row">
                        <!-- bfs title start -->
                        <div class="col-lg-12 col-xl-12 col-md-12">
                        <div class="about-us-text-area">
                        <h1>Create Advert</h1>
                        </div>
                        </div>
                        <form style="margin:0px;" class="business-detail">
                        <div class="col-lg-12 col-xl-12 col-md-12">
                        <div class="contact-seller-form">
                        <h2 class="contact-h2 color-blue">Business Details</h2>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Looking for</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-7 col-md-8">
                        <!-- What you liked about us start -->
                        <!-- Name start -->
                        <div class="input-group mb-3">
                          <!-- Buyer radio button start -->
                        <span class="radio-area-6">
                         Business <label class="radio-button">
                          <input type="radio" checked="checked" name="radio">
                          <span class="checkmark"></span>
                        </label>
                        </span>
                        <!-- Buyer radio button finsh -->
                        <!-- Seller radio button start -->
                        <span class="radio-area-7">
                         Commercial <label class="radio-button"> 
                          <input type="radio" name="radio">
                          <span class="checkmark"></span>
                        </label>
                        </span>
                        <!-- Seller radio button finish -->
                        <!-- Seller radio button start -->
                        <span class="radio-area-6">
                         Franchise <label class="radio-button"> 
                          <input type="radio" name="radio">
                          <span class="checkmark"></span>
                        </label>
                        </span>
                        <!-- Seller radio button finish -->
                        </div>
                        <!-- Name finish -->
                            <!-- What you liked about us finish -->
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Select Industry</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <span class="customselect1"> 
                        <select>
                          <option value="Select Category">Select Category </option>
                          <option value="Select Category">Select Category  </option>
                          <option value="Select Category">Select Category  </option>
                          <option value="Select Category">Select Category  </option>
                          <option value="Select Category ">Select Category  </option>
                        </select><div class="select-selected">Select Category </div><div class="select-items select-hide"><div>Select Category  </div><div>Select Category  </div><div>Select Category  </div><div>Select Category  </div></div></span>
                        </div>
                        </div>
                        <div class="row mb-20">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Select Multiple<br> Sub-categorie</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <div class="mulitple-select">
                        <select class="custom-select" multiple="">
                          <option selected="">Select Multiple Sub-categorie</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                           <option value="4">Four</option>
                            <option value="5">Five</option>
                        </select>
                        </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Select Multiple Keywords</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <!-- What you liked about us start -->
                        <div class="form-group mb-20 required-field-block">       
                                <div class="input-group">
                                    <textarea rows="4" size="50" value="" class="form-control interested" placeholder="Select Keywords"></textarea>  
                                </div>
                            </div>
                            <!-- What you liked about us finish -->
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Select Your <br>Investment Range</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <span class="customselect1"> 
                        <select>
                          <option value="Select Your Investment Range">Select Your Investment Range </option>
                          <option value="Select Category">Select Category  </option>
                          <option value="Select Category">Select Category  </option>
                          <option value="Select Category">Select Category  </option>
                          <option value="Select Category ">Select Category  </option>
                        </select><div class="select-selected">Select Your Investment Range </div><div class="select-items select-hide"><div>Select Category  </div><div>Select Category  </div><div>Select Category  </div><div>Select Category  </div></div></span>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Description Of <br>Business Advert</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <div class="form-group required-field-block">       
                                <div class="input-group">
                                    <textarea rows="4" size="50" value="" class="form-control interested" placeholder="Enter listing Description"></textarea>  
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row mb-20">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Select Preferred Location</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-7">
                        <!-- Name start -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control Location" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <!-- Name finish -->
                        <!-- Name start -->
                        <div class="customselect1"> 
                        <select>
                         <option value="Attractive Business">Select State</option>
                          <option value="Attractive Business">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                           <option value="Attractive Business">Chandigarh </option>
                        </select><div class="select-selected">Select State</div><div class="select-items select-hide"><div>Arunachal Pradesh</div><div>Assam</div><div>Bihar</div><div>Chandigarh </div></div></div>
                        <!-- Name finish -->
                        <!-- Name start -->
                        <div class="customselect1"> 
                        <select>
                          <option value="Attractive Business">City</option>
                          <option value="Attractive Business">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                           <option value="Attractive Business">Chandigarh </option>
                        </select><div class="select-selected">City</div><div class="select-items select-hide"><div>Arunachal Pradesh</div><div>Assam</div><div>Bihar</div><div>Chandigarh </div></div></div>
                        <!-- Name finish -->
                        <div class="clear"></div>
                        <div class="form-group required-field-block">       
                                <div class="input-group">
                                    <textarea rows="2" size="50" value="" class="form-control interested" placeholder="Select Physical Address"></textarea>  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-12">
                        <div class="map-border"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15079.03795885064!2d72.86336325!3d19.118204249999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1676054175842!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 pr-15 col-md-4">
                        <span class="label-form-text">Suggested Title</span>
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <!-- Name start -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control Location" placeholder="Business For Sale At Bihar,Amarpur,India" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <!-- Name finish -->
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Enter your Title for Advert</span><span style="color:red">*</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <!-- What you liked about us start -->
                        <!-- Name start -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control Location" placeholder="Type Your Title Here" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <!-- Name finish -->
                            <!-- What you liked about us finish -->
                        </div>
                        </div>
                        </div>
                        
                        <div class="contact-seller-form">
                        <h2 class="contact-h2 color-blue">Other Information</h2>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Company Type type?</span> <img src="images/note-icon.jpg" width="14">
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <!-- Name start -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control Location" placeholder="Year of Establishing" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <!-- Name finish -->
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Source Of Business</span>
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <!-- What you liked about us start -->
                        <!-- Name start -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control Location" placeholder="Source Of Business" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <!-- Name finish -->
                            <!-- What you liked about us finish -->
                        </div>
                        </div>
                        </div>
                        
                        <div class="contact-seller-form">
                        <h2 class="contact-h2 color-blue">About Yourself</h2>
                        <div class="row">
                        <div class="col-lg-4 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Description</span><span style="color:red">*</span>
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-7">
                        <div class="form-group required-field-block">       
                                <div class="input-group">
                                    <textarea rows="4" size="50" value="" class="form-control interested" placeholder="Description"></textarea>  
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-3 col-xl-3 pr-15 col-md-4">
                        <span class="label-form-text">Whether your contact details to be visible to other users</span>
                        </div>
                        <div class="col-lg-5 col-xl-5 col-md-8">
                        <!-- Name start -->
                        <div class="input-group visible">
                                            <div id="radioBtn" class="btn-group">
                                                <a class="btn btn-primary btn-sm active" data-toggle="happy" data-title="Y">YES</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="happy" data-title="N">NO</a>
                                            </div>
                                            <input type="hidden" name="happy" id="happy">
                                        </div>
                        <!-- Name finish -->
                        </div>
                        </div>
                        </div>
                        
                        <div class="button-publish-button"><button type="button" class="btn login-submit-button">Preview</button> <button type="button" class="btn publish-submit-button">Publish</button> <button type="button" class="btn login-submit-button">Draft</button> </div>
                        
                        </div></form>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
  </section>   
  