<section class="padtb50">
    <div class="container">
    <div class="row mb-20px">
       <div class="col-md-12 col-lg-12 col-xl-12 term-text">
          <!-- Business Advisory title start -->
          <h1>Business Setup</h1>
          <!-- Business Advisory title finsh -->
          <div class="row">
             <!-- Business Advisory text area start -->
             <div class="col-md-6 col-lg-6 col-xl-6">
                <p>Setting up a new business has always been challenging, but not if you are provided with reliable business setup consultancy services. Tobuz is helping investors, startup firms, and entrepreneurs in their new ventures by offering much-needed guidance. Having our expertise by your side, you can expect your business to turn into a big success in the near future. We can be your time and money saver.</p>
                <p><span class="strong-setup">To let you enjoy the invaluable benefits, Tobuz is here!</span><br/>
                   Tobuz brings ease in managing your business by analyzing your Startup, and devising feasible solutions. Everything has to be appropriately done to put your startup on a path to success. Our team of professional advisors helps you with a multitude of responsibilities apart from highlighting the possible challenges of new business.
                </p>
             </div>
             <!-- Business Advisory text area finish -->
             <!-- Business Advisory image area start -->
             <div class="col-md-6 col-lg-6 col-xl-6">
                <img src="./assets/images/Business-Setup.jpg" width="100%" title="Business Setup" alt="Business Setup"/>
             </div>
             <!-- Business Advisory image area finish -->
          </div>
          <br/>
          <div class="row">
             <!-- Helping Businesses Grow area start -->
             <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="Helping">
                   <h2 class="helping-title">How We Help You Setup Your Business</h2>
                   <p>We have the skills to manage your new business setup professionally as we tend to focus on every necessary task individually. You can rely on Tobuz to handle all essential procedures that need attention. We have the most skilled business startup consultants available that complete every task responsibly and ensure proper implementation. We follow a detailed plan to help you out in maintaining the stability of your new enterprise:</p>
                   <div class="row">
                      <div class="col-md-3 col-lg-3 col-xl-3">
                         <div class="point-bg"><span class="circle-area"></span> Research</div>
                         <div class="point-bg"><span class="circle-area"></span> Legal Business Formation</div>
                         <div class="point-bg"><span class="circle-area"></span> Business Structure Development</div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                         <div class="point-bg"><span class="circle-area"></span> Business Branding</div>
                         <div class="point-bg"><span class="circle-area"></span> Business Marketing</div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                         <div class="point-bg"><span class="circle-area"></span> Sales Efforts</div>
                         <div class="point-bg"><span class="circle-area"></span> Vendor Selection</div>
                      </div>
                   </div>
                </div>
             </div>
             <!-- Helping Businesses Grow area finish -->
          </div>
          <br/>
          <!-- Services We Provide for Enhancing area start -->
          <div class="row">
             <div class="col-md-12 col-lg-12 col-xl-12">
                <h2 style="text-align:center;" class="helping-title"><span style="color:#252525;">Why get a</span> Business Valued?</h2>
             </div>
          </div>
          <!-- Services We Provide for Enhancing area finish -->
          <div class="row">
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Business Succession Planning area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Gain-Clarity-Objectivity.jpg" width="100%" title="Gain Clarity & Objectivity" alt="Gain Clarity & Objectivity"/>
                   <p>Gain Clarity & Objectivity</p>
                </div>
                <!-- Business Succession Planning area finish -->
             </div>
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Benchmarking, Performance criteria and Financial Metrics area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Vendor-Sourcing.jpg" width="100%" title="Vendor Sourcing" alt="Vendor Sourcing"/>
                   <p>Vendor Sourcing</p>
                </div>
                <!-- Benchmarking, Performance criteria and Financial Metrics area finish -->
             </div>
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Organizational Development Consulting area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Business-Branding.jpg" width="100%" title="Business Branding" alt="Business Branding"/>
                   <p>Business Branding</p>
                </div>
                <!-- Organizational Development Consulting area finish -->
             </div>
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Operational Reviews for Business Process Improvements area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Graphic-Design.jpg" width="100%" title="Graphic Design" alt="Graphic Design"/>
                   <p>Graphic Design</p>
                </div>
                <!-- Operational Reviews for Business Process Improvements area finish -->
             </div>
          </div>
          <div class="row">
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Valuation Services area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Help-with-Research.jpg" width="100%" title="Help with Research" alt="Help with Research"/>
                   <p>Help with Research</p>
                </div>
                <!-- Valuation Services area start -->
             </div>
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Acquisition and Transaction Support area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Project-Pricing.jpg" width="100%" title="Project Pricing" alt="Project Pricing"/>
                   <p>Project Pricing</p>
                </div>
                <!-- Acquisition and Transaction Support area finish -->
             </div>
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Business Strategy and Planning area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Marketing-Campaigns.jpg" width="100%" title="Marketing Campaigns" alt="Marketing Campaigns"/>
                   <p>Marketing Campaigns</p>
                </div>
                <!-- Business Strategy and Planning area finish -->
             </div>
             <div class="col-md-3 col-lg-3 col-xl-3">
                <!-- Board Effectiveness and Planning area start -->
                <div class="Services-We-area">
                   <img src="./assets/images/Product-Development-and-Packaging.jpg" width="100%" title="Product Development and Packaging" alt="Product Development and Packaging"/>
                   <p>Product Development and Packaging</p>
                </div>
                <!-- Board Effectiveness and Planning area finish -->
             </div>
          </div>
          <div class="row">
             <div class="col-md-12 col-lg-12 col-xl-12">
                <!-- Benefits of Business Consulting Services title start -->
                <h2 style="text-align:center;" class="helping-title"><span style="color:#252525;">Benefits of </span>Business Consulting Services<br/> <span style="font-size:16px; color:#707070;">Take control of complex situations and work through business dilemmas.</span></h2>
                <!-- Benefits of Business Consulting Services title start -->
             </div>
          </div>
          <div class="row">
             <div class="col-lg-12 offset-lg-12">
                <div class="accordion" id="accordionExample">
                   <!-- accordion 1 start -->
                   <div class="card">
                      <div class="card-header" id="headingOne">
                         <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons">add</i> Mentored Startups </a>									
                         </h2>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                         <div class="card-body">Mentored startups tend to grow 3.5 times quicker and increase 7 times more revenue because of the diversity of ideas you can get using the right business startup consultancy services. Your business can be successful when you focus on the essential factors only and invest time wisely. But that is possible only if you are guided right. With consultants, you have access to the unique skill set needed for completing tasks faster and responsibly. Mentored startups raise under the executive level supervision that is vital to achieving key objectives.</div>
                      </div>
                   </div>
                   <!-- accordion 1 finish -->
                   <!-- accordion 2 start -->
                   <div class="card">
                      <div class="card-header" id="headingTwo">
                         <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">add</i> Validate Business Model </a>
                         </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                         <div class="card-body">Starting your business without any planning, model or layout seems like a big mistake. Always begin with validating your business idea first. But it demands time, effort, and resources. Let your consultants do the required research, as their experience will help you get new business concepts. Save your time from conducting rounds of client’s interviews and product reiterations and let the consultancy services do the hard work.</div>
                      </div>
                   </div>
                   <!-- accordion 2 finish -->
                   <!-- accordion 3 start -->
                   <div class="card">
                      <div class="card-header" id="headingthree">
                         <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree"><i class="material-icons">add</i> Guided Beginning</a>
                         </h2>
                      </div>
                      <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                         <div class="card-body">Having immediate access to the expertise and knowledge of professionals is always helpful in starting a new business and maintaining its aspects for guaranteed success. Constant mentoring of consulting services can speed up your procedures. Proper guidance at earlier steps adds stability. To avoid unpredictable, devastating results, get yourself a trusted business startup consultant. It ensures improved marketing results. You will be able to avoid costly mistakes.</div>
                      </div>
                   </div>
                   <!-- accordion 3 start -->
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>  
 </section>