<section class="padtb50">
    <div class="container">
        <div class="row mb-20px">
            <div class="col-md-12 col-lg-12 col-xl-12 term-text">
            <!-- Business Advisory title start -->
            <h1>Business Advisory</h1>
            <!-- Business Advisory title finsh -->
            <div class="row mb-50">
                <!-- Business Advisory text area start -->
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <p>Businesses are always in need of professional guidance for resolving financial, marketing, and valuation issues. And, that is precisely what Tobuz focuses on – developing a comprehensive understanding and business insights to help you survive!</p>
                    <p>Our Business Advisory team experts are ready-to-work with you to provide pioneering business solutions customized to cater to your business needs and help you achieve your short and long-term objectives. We help you realize the full business potential and give direction about how to quickly address your daily challenges throughout your company’s life cycle.</p>
                </div>
                <!-- Business Advisory text area finish -->
                <!-- Business Advisory image area start -->
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <img src="./assets/images/Business-Advisory.jpg" width="100%" title="Business Advisory" alt="Business Advisory"/>
                </div>
                <!-- Business Advisory image area finish -->
            </div>
            <br/>
       
            <div class="row mb-50">
                <!-- Helping Businesses Grow area start -->
                <div class="col-md-12 col-lg-12 col-xl-12 Helping">
                    <h2 class="helping-title">Helping Businesses Grow</h2>
                    <p>Tobuz uses a detailed action plan, an approach that allows us to have a meaningful conversation with the owners focusing on primary areas of business growth.</p>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="point-bg"><span class="circle-area"></span> Realize strategic ambitions</div>
                        <div class="point-bg"><span class="circle-area"></span> Finance growth</div>
                        <div class="point-bg"><span class="circle-area"></span> Manage risk and regulations</div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="point-bg"><span class="circle-area"></span> Improve operations</div>
                        <div class="point-bg"><span class="circle-area"></span> Engage leadership and talent</div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="point-bg"><span class="circle-area"></span> Sales Efforts</div>
                        <div class="point-bg"><span class="circle-area"></span> Capitalize on stakeholder value</div>
                        </div>
                    </div>
                    <p>It helps our team gain credible, reliable, and deeper insight into your business and analyzes future opportunities. This approach ensures that the company’s financial resources are fully aligned with the strategic plan. Our team is ready to benefit you and turn your business into a massive success.</p>
                </div>
                <!-- Helping Businesses Grow area finish -->
            </div>
            <br/>        
            <!-- Services We Provide for Enhancing area start -->
            <div class="row ">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <h2 style="text-align:center;" class="helping-title"><span style="color:#252525;">Services We Provide for Enhancing </span><br/>Business Value by Identifying and Minimizing Risks</h2>
                </div>
            </div>
            <!-- Services We Provide for Enhancing area finish -->
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Business Succession Planning area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/Business-Succession-Planning.jpg" width="100%" title="Business Succession Planning" alt="Business Succession Planning"/>
                        <p>Business Succession Planning</p>
                    </div>
                    <!-- Business Succession Planning area finish -->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Benchmarking, Performance criteria and Financial Metrics area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/Benchmarking-performance-criteria-and-financial-metrics.jpg" width="100%" title="Benchmarking, Performance criteria and Financial Metrics" alt="Benchmarking, Performance criteria and Financial Metrics"/>
                        <p>Benchmarking, Performance criteria and Financial Metrics</p>
                    </div>
                    <!-- Benchmarking, Performance criteria and Financial Metrics area finish -->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Organizational Development Consulting area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/organizational-development-consulting.jpg" width="100%" title="Organizational Development Consulting" alt="Organizational Development Consulting"/>
                        <p>Organizational Development Consulting</p>
                    </div>
                    <!-- Organizational Development Consulting area finish -->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Operational Reviews for Business Process Improvements area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/operational-reviews-for-business-process-improvements.jpg" width="100%" title="Operational Reviews for Business Process Improvements" alt="Operational Reviews for Business Process Improvements"/>
                        <p>Operational Reviews for Business Process Improvements</p>
                    </div>
                    <!-- Operational Reviews for Business Process Improvements area finish -->
                </div>
            </div>
            <div class="row mb-50">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Valuation Services area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/Valuation-Services.jpg" width="100%" title="Valuation Services" alt="Valuation Services"/>
                        <p>Valuation Services</p>
                    </div>
                    <!-- Valuation Services area start -->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Acquisition and Transaction Support area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/acquisition-transaction-support.jpg" width="100%" title="Acquisition and Transaction Support" alt="Acquisition and Transaction Support"/>
                        <p>Acquisition and Transaction Support</p>
                    </div>
                    <!-- Acquisition and Transaction Support area finish -->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Business Strategy and Planning area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/Business-Strategy-and-Planning.jpg" width="100%" title="Business Strategy and Planning" alt="Business Strategy and Planning"/>
                        <p>Business Strategy and Planning</p>
                    </div>
                    <!-- Business Strategy and Planning area finish -->
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <!-- Board Effectiveness and Planning area start -->
                    <div class="Services-We-area">
                        <img src="./assets/images/Board-Effectiveness.jpg" width="100%" title="Board Effectiveness and Planning" alt="Board Effectiveness and Planning"/>
                        <p>Board Effectiveness and Planning</p>
                    </div>
                    <!-- Board Effectiveness and Planning area finish -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <!-- Benefits of Business Consulting Services title start -->
                    <h2 style="text-align:center;" class="helping-title"><span style="color:#252525;">Benefits of </span>Business Consulting Services<br/> <span class="take">Take control of complex situations and work through business dilemmas.</span></h2>
                    <!-- Benefits of Business Consulting Services title start -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 offset-lg-12">
                    <div class="accordion" id="accordionExample">
                        <!-- accordion 1 start -->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="clearfix mb-0">
                                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons">add</i> Business Valuations </a>									
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">To know what your business is worth, objective analysis is a necessary and equally critical step. Tobuz business advisory teams help perform timely business valuations. Working with our professional financial advisors, you will be able to execute succession and estate plans. Our processes are tailored to your specific situation. A precise valuation is beneficial for getting a complete overview of its assets, resources, strengths, and weaknesses to know its actual value. It helps you set new objectives to increase the value of your company for future growth and eventual transition. Business owners can create sensible merger and acquisition strategies.</div>
                            </div>
                        </div>
                        <!-- accordion 1 finish -->
                        <!-- accordion 2 start -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">add</i> Business Succession Planning </a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">Suppose you are planning to transition your business. In that case, Tobuz is here to help you design business succession efficiently because devising a succession plan does not work on a “one size fits all” strategy. Practical Business succession arrangements are fundamental to retain control over the outcome, support a smooth transition and reduce possible negative impacts of your departure. There is no “cookie-cutter” approach, so every company must focus on making a unique succession plan for specific needs. Consider it the most critical step for the future success of the company!</div>
                            </div>
                        </div>
                        <!-- accordion 2 finish -->
                        <!-- accordion 3 start -->
                        <div class="card">
                            <div class="card-header" id="headingthree">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree"><i class="material-icons">add</i> Financial Due Diligence </a>
                                </h2>
                            </div>
                            <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                                <div class="card-body">Financial due diligence procedures that are also considered necessary for negotiation purposes help you scrutinize risks and problems you might face in investing, mergers or acquisitions, and complex transactions. For future business growth opportunities, you must understand the nature of an investment and transactional risks. With financial due diligence, you can mitigate your financial troubles. Tobuz is providing an innovative blend of logical, analytical, and financial assessment skills to understand whether the deal aligns with your company’s objectives or not.</div>
                            </div>
                        </div>
                        <!-- accordion 3 start -->
                    </div>
                </div>
               </div>
            </div>  
        </div>    
    </div>        
 </section>
 <!-- FAQ area finish -->
 