<section class="padtb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12">          
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-md-4 desktop-view">
                        <app-userfilters></app-userfilters>
                    </div>
                    <div class="col-lg-9 col-xl-9 col-md-8">
                        <div class="row">
                        <!-- buyer profile finish -->
                        <app-my-details></app-my-details>
                        <!-- buyer profile finish -->
                        <div class="clear"></div>
                        <div class="col-lg-12 col-xl-12 col-12 col-md-12">
                            <!--<div class="my-package-button"><a href="/user/my-package" class="package"><img src="./assets/images/plus.png" width="15" height="15" style="margin-right:5px;"> Package</a></div>-->
                            <!-- package button finish -->
                            <!-- table start -->
                            <div class="my-package">
                            <table>
                              <tbody><tr>
                                <th>Package Name</th>
                                <th>Purchased On</th>
                                <th>Expiry Date</th>
                                <th>Advert Count</th>
                                <th>Status</th>
                                <th>Contact Access</th>
                                <th>Action</th>
                              </tr>
                              <tr>
                                <td>Free</td>
                                <td>08-Jun-2022</td>
                                <td></td>
                                <td>1/1</td>
                                <td>Active</td>
                                <td>0</td>
                                <td><button type="button" class="btn create-advert">{{addButton}}</button></td>
                              </tr>
                              <tr>
                                <td>Free</td>
                                <td>08-Jun-2022</td>
                                <td></td>
                                <td>1/1</td>
                                <td>Active</td>
                                <td>0</td>
                                <td><button type="button" class="btn create-advert">{{addButton}}</button></td>
                              </tr>
                            </tbody></table>
                            </div>
                            <!-- table finish -->
                            </div>                       
                        
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>                   