<section class="Overall">
    <div class="container">
       <!-- Overall Business title start -->
       <h2 class="buy-h2"><span style="color:#252525;">Overall</span> Business</h2>
       <!-- Overall Business title finish -->
       <div class="row justify-content-md-center">
          <div class="col-xl-9 col-lg-10">
             <div class="row">
                <div class="col-xl-4 col-lg-4 col-4 mb-4">
                   <!-- Progress bar 1 -->
                   <div class="progress mx-auto" data-value="80">
                      <span class="progress-left">
                      <span class="progress-bar progress-bar-border" style="transform: rotate(90deg);"></span>
                      </span>
                      <span class="progress-right">
                      <span class="progress-bar progress-bar-border" style="transform: rotate(180deg);"></span>
                      </span>
                      <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                         <div class="progress-text">39121<br>
                            <span class="progress-small">Business Listed</span>
                         </div>
                      </div>
                   </div>
                   <!-- END -->
                </div>
                <div class="col-xl-4 col-lg-4 col-4 mb-4">
                   <!-- Progress bar 2 -->
                   <div class="progress mx-auto" data-value="70">
                      <span class="progress-left">
                      <span class="progress-bar progress-bar-border" style="transform: rotate(54deg);"></span>
                      </span>
                      <span class="progress-right">
                      <span class="progress-bar progress-bar-border" style="transform: rotate(180deg);"></span>
                      </span>
                      <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                         <div class="progress-text">28012<br><span class="progress-small">Total Users</span></div>
                      </div>
                   </div>
                   <!-- END -->
                </div>
                <div class="col-xl-4 col-lg-4 col-4 mb-4">
                   <!-- Progress bar 3 -->
                   <div class="progress mx-auto" data-value="26">
                      <span class="progress-left">
                      <span class="progress-bar progress-bar-border"></span>
                      </span>
                      <span class="progress-right">
                      <span class="progress-bar progress-bar-border" style="transform: rotate(93.6deg);"></span>
                      </span>
                      <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                         <div class="progress-text">630 <br><span class="progress-small">Sale Closed</span></div>
                      </div>
                   </div>
                   <!-- END -->
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>