<section class="padtb50">
    <div class="container">
    <div class="row mb-20px">
    <div class="col-md-12 col-lg-6 col-xl-6">
    <!-- How Tobuz Works video start -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x0ZL-ApVya0" allowfullscreen=""></iframe>
    </div>
    <!-- How Tobuz Works video finish -->
    
    </div>
    <!-- How Tobuz Works text start -->
    <div class="col-md-12 col-lg-6 col-xl-6 about-us-text-area">
    <!-- How Tobuz Works title start -->
    <h1>Understand How Tobuz Works <br><span>For your business</span></h1>
    <!-- How Tobuz Works title finish -->
    <ul>
    <li>Have a business to sell or looking for a new opportunity to invest in? </li>
    <li>Look no further, as Tobuz is now your <span class="strong-text">No.1 trusted</span> choice to buy or sell businesses.</li>
    <li>A <span class="strong-text">secure and 100% confidential</span> online portal.</li>
    <li>Tobuz makes business trade processes to be easier than ever.</li>
    </ul>
    </div>
    <!-- How Tobuz Works text finish -->
    </div>
    </div>
    </section>