<section class="padtb50">
    <div class="container">
       <div class="row mb-20px">
          <div class="col-md-12 col-lg-6 col-xl-6">
             <!-- about us image start -->
             <img src="./assets/images/about-us.jpg" title="About Tobuz Platform" width="100%" alt="About Tobuz Platform"/>
             <!-- about us image finish -->
             <div class="experiance">
                <!-- about us experience start -->
                <div class="experiance-area"><span class="title">30+</span><br/> <span class="small-ex">Years of market Experience </span></div>
                <!-- about us experience finish -->
             </div>
          </div>
          <!-- about us text start -->
          <div class="col-md-12 col-lg-6 col-xl-6 about-us-text-area">
             <h1>About Tobuz Platform <Br/><span>For Business Brokers and Business Deals</span></h1>
             <p>Launched in 2017 and working on the idea of creating a secure, trustworthy and accessible community for buyers and sellers for years to come, ToBuz has finally made it to reality. Thriving in a country of immense potential for businesses from all over the world to gather and make profits, ToBuz is all set to make a difference. With the aim and idea of building a network of people who wish to sell a business and those who are truly interested in buying one, ToBuz.com continues to grow beyond geographical limits and connects executives from all over the world.</p>
             <p>Do you have a profitable business to sell? Are you a businessman interested in purchasing a business? Or do you wish to invest in a renowned franchise? Avoid the stress of starting your own business; ToBuz has an array of services offered to brokers, individuals and corporate people as well. The listing process makes it easy for everyone to create an account for themselves which of course comes with a number of added perks and bonuses.
             </p>
             <p>Proud to maintain the confidentiality and security of our sellers, buyers and brokers, ToBuz offers a huge archive of listings where you can certainly find something to suit your needs and requirements. Evolving into a large service providing network of buyers and sellers, ToBuz receives a huge number of listings every month from potential sellers which subsequently will make our archives even better for people to explore.</p>
          </div>
          <!-- about us text finish -->
       </div>
       <div class="row">
          <!-- what is tobuz? area start -->
          <div class="col-sm-6">
             <div class="what-area"><img src="./assets/images/what-is-tobuz.png" title="what is tobuz?" alt="what is tobuz?"/></div>
             <div class="what-text-area">Tobuz is a virtual commercial online platform that brings Buyers, Sellers, Franchisers, Business and Commercial Property brokers together, thereby transforming and simplifying the way Businesses and Commercial Properties are bought, sold and leased.</div>
          </div>
          <!-- what is tobuz? area finish -->
          <!-- reach area start -->
          <div class="col-sm-6">
             <div class="what-area"><img src="./assets/images/reach.png" title="Reach" alt="Reach"/></div>
             <div class="what-text-area">Apart from being a worldwide online portal, we are currently focusing exclusively on emerging markets like Asia - Pacific, Middle East, ANZ Markets, Singapore.</div>
          </div>
          <!-- reach area finish -->
       </div>
       <div class="row">
          <!-- reach area start -->
          <div class="col-sm-12">
             <div class="what-area"><img src="./assets/images/vission.png" title="vision" alt="vision"/></div>
             <div class="what-vission-area">
                <div class="vission-area">Tobuz’ s vision is to innovate the best platform for trading businesses and commercial properties online. We are proud of our commitment to providing maximum customer satisfaction through our extensively skilled team.</div>
             </div>
          </div>
          <!-- reach area finish -->
       </div>
    </div>
 </section>