<!-- business for sale area start -->
<section class="padtb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12">
                <!-- business for sale tab content start -->
                <!-- bradcrumb start -->
                <div>
                    <div class="bradcrumb"><a href="index.html">Home</a> / <a
                            href="franchisee-opportunities-grid.html">Franchise</a>
                    </div>

                </div>

                <!-- bradcrumb finish -->
                <!-- bfs sidebar start -->
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-md-4 desktop-view">
                        <!-- bfs sidebar filter area start -->
                        <div class="filter">
                            <!-- bfs sidebar filter title start -->
                            <div class="filter-title">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filter by <span class="clear"><a
                                        href="#">Clear
                                        all</a></span>
                            </div>

                            <!-- bfs sidebar filter title finish -->
                            <div>
                                <!-- bfs Categories title and search bar start -->
                                <div class="Categories">Franchise type</div>
                                <!-- bfs Categories title and search bar finish -->
                                <div class="clear"></div>
                                <!-- bfs Categories checkbox start -->
                                <form class="catagories-filter">
                                    <!-- checkbox start -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Sale
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Resale
                                        </label>
                                    </div>
                                </form>
                            </div>

                            <div>
                                <!-- bfs Categories title and search bar start -->
                                <div class="Categories">Categories
                                    <div class="searchbox">
                                        <input type="text" class="input">
                                        <div class="Categories-sale search-sale">
                                            <div class="fas"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- bfs Categories title and search bar finish -->
                                <div class="clear"></div>
                                <!-- bfs Categories checkbox start -->
                                <form class="catagories-filter">
                                    <!-- checkbox start -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal" class="form-check-label"
                                            for="flexCheckDefault">
                                            Education
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal" class="form-check-label"
                                            for="flexCheckDefault">
                                            Hotel, Restaurants and Food Services
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal" class="form-check-label"
                                            for="flexCheckDefault">
                                            Services Business
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal" class="form-check-label"
                                            for="flexCheckDefault">
                                            Arts, Entertainment & recreational
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal" class="form-check-label"
                                            for="flexCheckDefault">
                                            Business Support Businesses
                                        </label>
                                    </div>
                                    <!-- checkbox finish -->
                                    <!-- catagories popup link start -->
                                    <a data-toggle="modal" data-target="#myModal" class="more-filter">+ 21more</a>
                                    <!-- catagories popup link finish -->
                                </form>
                            </div>
                            <div>
                                <!-- bfs Location title and search bar start -->
                                <div class="Categories">Location
                                    <div class="searchbox">
                                        <input type="text" class="input-1">
                                        <div class="Location-sale search-sale">
                                            <div class="fas"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- bfs Location title and search bar finish -->
                                <div class="clear"></div>
                                <form class="catagories-filter">
                                    <!-- checkbox start -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal-1" class="form-check-label"
                                            for="flexCheckDefault">
                                            India
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal-1" class="form-check-label"
                                            for="flexCheckDefault">
                                            Andhra Pradesh
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal-1" class="form-check-label"
                                            for="flexCheckDefault">
                                            Arunachal Pradesh
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal-1" class="form-check-label"
                                            for="flexCheckDefault">
                                            Assam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label data-toggle="modal" data-target="#myModal-1" class="form-check-label"
                                            for="flexCheckDefault">
                                            Bihar
                                        </label>
                                    </div>
                                    <!-- checkbox finish -->
                                    <!-- location popup link start -->
                                    <a data-toggle="modal" data-target="#myModal-1" class="more-filter">+ 13more</a>
                                    <!-- location popup link finish -->
                                </form>
                            </div>
                        </div>
                        <!-- bfs sidebar filter area finish -->
                    </div>
                    <!-- bfs sidebar finish -->
                    <!-- bfs area contact start -->
                    <div class="col-lg-9 col-xl-9 col-md-8">
                        <div class="row">
                            <!-- bfs title start -->
                            <div class="col-lg-6 col-xl-7 col-md-12">
                                <div class="about-us-text-area">
                                    <h1>Franchise Business For Sale<Br /><span>And Prime Franchise Opportunities</span>
                                    </h1>
                                </div>
                            </div>
                            <!-- bfs title finish -->
                            <div class="col-lg-6 col-xl-5 col-md-12 desktop-view">
                                <!-- bfs grid start -->
                                <span class="grid-area"><a href="business-for-sale.html"><span
                                            class="Grid-active">Grid</span></a>
                                    <!-- bfs grid finish -->
                                    <!-- bfs list start -->
                                    <a href="business-for-sale-list.html"><span class="List">List</span></a></span>
                                <!-- bfs list finish -->
                                <!-- bfs Sort By start -->
                                <div class="Sort"><span class="sort-text">Sort By:</span>
                                    <span class="customselect">
                                        <select>
                                            <option value="latest">Latest</option>
                                            <option value="Low To High">Low To High</option>
                                            <option value="High To Low">High To Low</option>
                                            <option value="A to Z">A to Z</option>
                                            <option value="Z to A">Z to A</option>
                                        </select></span>
                                </div>
                                <!-- bfs Sort By finish -->
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <!-- bfs grid 1 start -->
                            <div class="col-lg-6 col-xl-4 col-md-6">
                                <div class="new-tag">New</div>
                                <div class="sale-image-area">
                                    <!-- image start -->
                                    <img src="./assets/images/Franchise.jpg" width="100%"
                                        title="Franchise For Sale Of Hotel, Restaurants And Food Services At Uttar Pradesh,Meerut,India"
                                        alt="Franchise For Sale Of Hotel, Restaurants And Food Services At Uttar Pradesh,Meerut,India" />
                                    <!-- image finish -->
                                    <div class="pd10">
                                        <!-- meta start -->
                                        <div class="alt"><a href="">Franchise For Sale Of Hotel, Restaurants And Food
                                                Services At Uttar
                                                Pradesh,Meerut,India</a></div>
                                        <!-- meta finish -->
                                        <!-- title start -->
                                        <div class="title"><a href="">Running Resturant For Sale</a></div>
                                        <!-- title finish -->
                                        <!-- price start -->
                                        <div class="price-location-area">
                                            <div class="price"><img src="./assets/images/dollar-icon-sale.jpg" title="dollar"
                                                    alt="dollar" class="dollar-icon" /> AED 150,000</div>
                                            <!-- price finish -->
                                            <!-- location start -->
                                            <div class="location"><i class="fa fa-map-marker map-size"
                                                    aria-hidden="true"></i> Alwar, India
                                            </div>
                                        </div>
                                        <!-- location finish -->
                                        <!-- text start -->
                                        <div class="p-area">1.8 yrs old runining restaurent on prime location for sale
                                            on urgent basis
                                            ,Regular coutomers</div>
                                        <!-- text finish -->
                                        <!-- Contact Business start -->
                                        <p><button type="button" class="btn Business-btn">Contact Business</button>
                                            <!-- Contact Business finish -->
                                            <!-- wishlist start -->
                                            <span class="wishlist"><i class="fa fa-heart-o"></i> 0</span>
                                            <!-- wishlist finish -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- bfs grid 1 finish -->
                            <!-- bfs grid 2 start -->
                            <div class="col-lg-6 col-xl-4 col-md-6">
                                <div class="sale-image-area">
                                    <img src="./assets/images/Franchise-1.jpg" width="100%"
                                        title="Running Salon For Sale In Chandigarh"
                                        alt="Running Salon For Sale In Chandigarh" />
                                    <div class="pd10">
                                        <div class="alt"><a href="">Franchise For Sale Of Hotel, Restaurants And Food
                                                Services At
                                                Delhi,New Delhi,India</a></div>
                                        <div class="title"><a href="">Become Franchisee Of Largest </a></div>
                                        <div class="price-location-area">
                                            <div class="price"><img src="./assets/images/dollar-icon-sale.jpg" title="dollar"
                                                    alt="dollar" class="dollar-icon" /> AED 150,000</div>
                                            <div class="location"><i class="fa fa-map-marker map-size"
                                                    aria-hidden="true"></i> Dubai, UAE
                                            </div>
                                        </div>
                                        <div class="p-area">Running salon for sale in Sector 16D, Chandigarh,
                                            Chandigarh.</div>
                                        <p><button type="button" class="btn Business-btn">Contact Business</button>
                                            <span class="wishlist"><i class="fa fa-heart-o"></i> 0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- bfs grid 2 finish -->
                            <!-- bfs grid 3 start -->
                            <div class="col-lg-6 col-xl-4 col-md-6">
                                <div class="sale-image-area">
                                    <img src="./assets/images/Franchise-2.jpg" width="100%"
                                        title="Running Salon For Sale In Chandigarh"
                                        alt="Running Salon For Sale In Chandigarh" />
                                    <div class="pd10">
                                        <div class="alt"><a href="">Franchise For Sale Of Hotel, Restaurants And Food
                                                Services At
                                                Delhi,New Delhi,India</a></div>
                                        <div class="title"><a href="">Start Your QSR Business Without </a></div>
                                        <div class="price-location-area">
                                            <div class="price"><img src="./assets/images/dollar-icon-sale.jpg" title="dollar"
                                                    alt="dollar" class="dollar-icon" /> AED 150,000</div>
                                            <div class="location"><i class="fa fa-map-marker map-size"
                                                    aria-hidden="true"></i> Dubai, UAE
                                            </div>
                                        </div>
                                        <div class="p-area">Become a Franchisee of the Largest Non-Vegetarian/Chicken
                                            Takeaway /
                                            Restaurant</div>
                                        <p><button type="button" class="btn Business-btn">Contact Business</button>
                                            <span class="wishlist"><i class="fa fa-heart-o"></i> 0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- bfs grid 3 finish -->
                            <!-- bfs grid 4 start -->
                            <div class="col-lg-6 col-xl-4 col-md-6">
                                <div class="sale-image-area">
                                    <img src="./assets/images/Franchise-3.jpg" width="100%"
                                        title="Running Salon For Sale In Chandigarh"
                                        alt="Running Salon For Sale In Chandigarh" />
                                    <div class="pd10">
                                        <div class="alt"><a href="">Franchise For Sale Of Hotel, Restaurants And Food
                                                Services At
                                                Delhi,New Delhi,India</a></div>
                                        <div class="title"><a href="">Running Salon For Sale In Chandigarh</a></div>
                                        <div class="price-location-area">
                                            <div class="price"><img src="./assets/images/dollar-icon-sale.jpg" title="dollar"
                                                    alt="dollar" class="dollar-icon" /> AED 150,000</div>
                                            <div class="location"><i class="fa fa-map-marker map-size"
                                                    aria-hidden="true"></i> Dubai, UAE
                                            </div>
                                        </div>
                                        <div class="p-area">Own a Business without working, Investment starting as low
                                            as INR 12-13 Lakhs,
                                            Invest Once </div>
                                        <p><button type="button" class="btn Business-btn">Contact Business</button>
                                            <span class="wishlist"><i class="fa fa-heart-o"></i> 0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- bfs grid 4 finish -->
                            <!-- bfs grid 5 start -->
                            <div class="col-lg-6 col-xl-4 col-md-6">
                                <div class="sale-image-area">
                                    <img src="./assets/images/Franchise-4.jpg" width="100%"
                                        title="Running Salon For Sale In Chandigarh"
                                        alt="Running Salon For Sale In Chandigarh" />
                                    <div class="pd10">
                                        <div class="alt"><a href="">Franchise For Sale Of Hotel, Restaurants And Food
                                                Services At
                                                Delhi,New Delhi,India</a></div>
                                        <div class="title"><a href="">Running Salon For Sale In Chandigarh</a></div>
                                        <div class="price-location-area">
                                            <div class="price"><img src="./assets/images/dollar-icon-sale.jpg" title="dollar"
                                                    alt="dollar" class="dollar-icon" /> AED 150,000</div>
                                            <div class="location"><i class="fa fa-map-marker map-size"
                                                    aria-hidden="true"></i> Dubai, UAE
                                            </div>
                                        </div>
                                        <div class="p-area">Running salon for sale in Sector 16D, Chandigarh,
                                            Chandigarh. </div>
                                        <p><button type="button" class="btn Business-btn">Contact Business</button>
                                            <span class="wishlist"><i class="fa fa-heart-o"></i> 0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- bfs grid 5 finish -->
                            <!-- bfs grid 6 start -->
                            <div class="col-lg-6 col-xl-4 col-md-6">
                                <div class="sale-image-area">
                                    <img src="./assets/images/Franchise-5.jpg" width="100%"
                                        title="Running Salon For Sale In Chandigarh"
                                        alt="Running Salon For Sale In Chandigarh" />
                                    <div class="pd10">
                                        <div class="alt"><a href="">Franchise For Sale Of Hotel, Restaurants And Food
                                                Services At
                                                Delhi,New Delhi,India</a></div>
                                        <div class="title"><a href="">Running Salon For Sale In Chandigarh</a></div>
                                        <div class="price-location-area">
                                            <div class="price"><img src="./assets/images/dollar-icon-sale.jpg" title="dollar"
                                                    alt="dollar" class="dollar-icon" /> AED 150,000</div>
                                            <div class="location"><i class="fa fa-map-marker map-size"
                                                    aria-hidden="true"></i> Dubai, UAE
                                            </div>
                                        </div>
                                        <div class="p-area">Running salon for sale in Sector 16D, Chandigarh,
                                            Chandigarh.</div>
                                        <p><button type="button" class="btn Business-btn">Contact Business</button>
                                            <span class="wishlist"><i class="fa fa-heart-o"></i> 0</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- bfs grid 6 finish -->
                        </div>
                        <br />
                        <!-- bfs next page button start -->
                        <div class="next-btn-area"><a class="next-btn">Next</a></div>
                        <!-- bfs next page button finish -->
                        <!-- bfs pagination start -->
                        <div class="pagination-area">
                            <span class="number-text">Page</span><span class="pagination-field-area"><input type="text"
                                    class="pagination-field" /></span><span class="number-text">of 171</span><span><a
                                    href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a></span> <span><a
                                    href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>
                        </div>
                        <!-- bfs pagination finish -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ area finish -->
<div class="clear"></div>
<!-- Signup for email alerts area start -->
<section class="padd-30 sign-subscriobe">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-xl-9 col-md-12">
                <div class="row">
                    <!-- Signup for email alerts title start -->
                    <div class="col-lg-4 col-md-4 col alerts-email">Signup for email alerts</div>
                    <!-- Signup for email alerts title finish -->
                    <div class="col-lg-8 col-md-8 email-alerts">

                        <div class="input-group">
                            <!-- Signup for email alerts input start -->
                            <input type="search" class="form-control email-alerts-searbox" placeholder="Email Address"
                                aria-label="Search" aria-describedby="search-addon" />
                            <!-- Signup for email alerts input finish -->
                            <!-- Signup for email alerts button start -->
                            <button type="button" class="btn aleart-button">Submit</button>
                            <!-- Signup for email alerts button finish -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>