<section class="padtb50">
    <div class="container">
    <div class="row mb-20px">
    <div class="col-md-12 col-lg-12 col-xl-12 term-text">
    <!-- FAQ area title start -->
    <h1>Frequently Asked Questions</h1>
    <!-- FAQ area title finsh -->
    <div class="warpper faq">
      <input class="radio" id="one" name="group" type="radio" checked="">
      <input class="radio" id="two" name="group" type="radio">
      <input class="radio" id="three" name="group" type="radio">
      <input class="radio" id="four" name="group" type="radio">
      <!-- FAQ area tab start -->
      <div class="tabs">
      <label class="tab" id="one-tab" for="one">Buyers</label>
      <label class="tab" id="two-tab" for="two">Sellers</label>
      <label class="tab" id="three-tab" for="three">Brokers</label>
      <label class="tab" id="four-tab" for="four">Franchisors</label>
        </div>
          <!-- FAQ area tab finish -->
          <!-- Buyers area start -->
      <div class="panels">
       <!-- panel 1 start -->
      <div class="panel" id="one-panel">
       <!-- accordion 1 start -->
      <div class="accordion" id="accordionExample">
      <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons">remove</i> How do I get further information on a business or contact the seller? </a>									
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">To get detailed information on a business for sale listed on our site, feel free to contact the seller or the broker directly using the contact seller links provided with each listing.Kindly note that we are not a business broker or an agent. We are simply an advertising service that you, the seller and the broker can use to express interest in buying and selling a business.Once you contact a seller, it is possible that the sellers may want to know more about you before they disclose any financial or other information about their business. So please be prepared for the same.Some Sellers/ Brokers may also insist that you sign an NDA or Non Disclosure Agreement to protect their business information from their competitors or the media.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons">add</i> How much does it cost for buyer to list a business on our site?</a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">Please review our business packages under the business for sale section.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="material-icons">add</i> Why should I register as a Business Buyer? </a>                     
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">At Tobuz.com registering as a business buyer gives you the following advanced features.View all your bookmarked businesses in one place.View all the enquiries that you have sent to the business for sale opportunities.Send enquiries with a click of a button in less than 1 min.Find more similar businesses that light your interest.Be the first to view new opportunities before others can see them.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                </div>
     <!-- accordion 1 finish -->
      </div>
      <!-- panel 1 finish -->
      <!-- panel 2 start -->
      <div class="panel" id="two-panel">
      <!-- accordion 2 start -->
     <div class="accordion" id="accordionExample-1">
     <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingfour">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour"><i class="material-icons">remove</i> How much does it cost for a seller to list a business on our site? </a>									
                            </h2>
                        </div>
                        <div id="collapsefour" class="collapse show" aria-labelledby="headingfour" data-parent="#accordionExample-1">
                            <div class="card-body"> Please review our business packages under the business for sale section.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingfive">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"><i class="material-icons">add</i> How many listings can a Private Seller add? </a>
                            </h2>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample-1">
                            <div class="card-body">Each Seller is allowed 1 listing per package. They may add more listings by making another payment on the same account.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingsix">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix"><i class="material-icons">add</i> How long will my listing appear on the site? </a>                     
                            </h2>
                        </div>
                        <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample-1">
                            <div class="card-body">For Sellers, the length of time in which your listing appears depends on which package you select or until the listing is sold as per the package.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingseven">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven"><i class="material-icons">add</i> How do I remove a SOLD business from your website? </a>                               
                            </h2>
                        </div>
                        <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample-1">
                            <div class="card-body">You may remove a business listing in just one click by clicking on the “inactive” button on the dashboard only. You may even send an email to us detailing which listing you need to be taken down and we will do it for you.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingeight">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight"><i class="material-icons">add</i> I can’t find the listing that I added on my account. How can I fix this? </a>                               
                            </h2>
                        </div>
                        <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample-1">
                            <div class="card-body">Please Log in to your account and go to the dashboard. Click on My Profile and there you will find your listings under the My Listing tab. You may also sort your listings according to Title, Date, Popularity, Featured or Nearest.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingnine">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine"><i class="material-icons">add</i> How do I keep myself anonymous while posting a listing? </a>                               
                            </h2>
                        </div>
                        <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordionExample-1">
                            <div class="card-body">We understand that selling a business is a sensitive process. Please note that you are neither asked to disclose your business name in a Business for Sale listing nor the specifics on your business such as its exact location or your telephone numbers. Initial communication from the prospective buyer is handled through our messaging system until you decide to have direct communication.In case you want to contact them directly, you will receive the contact number and email address of the prospective buyer from our messaging system.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                </div>
                <!-- accordion 2 finish -->
      </div>
      <!-- panel 2 finish -->
      <!-- panel 2 start -->
      <div class="panel" id="three-panel">
      <!-- accordion 3 start -->
     <div class="accordion" id="accordionExample-2">
     <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingten">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseten" aria-expanded="true" aria-controls="collapseten"><i class="material-icons">remove</i> How many listings can a Business Broker add? </a>									
                            </h2>
                        </div>
                        <div id="collapseten" class="collapse show" aria-labelledby="headingten" data-parent="#accordionExample-2">
                            <div class="card-body">This depends on the package that the broker selects category-wise.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingeleven">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven"><i class="material-icons">add</i> I’m a Business Broker, how long will my listing appear on the site? </a>
                            </h2>
                        </div>
                        <div id="collapseeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordionExample-2">
                            <div class="card-body"> Again this depends on the package that you opt for where in the duration of the membership is mentioned.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwele">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwele" aria-expanded="false" aria-controls="collapsetwele"><i class="material-icons">add</i> Can added agents access the account? </a>                     
                            </h2>
                        </div>
                        <div id="collapsetwele" class="collapse" aria-labelledby="headingtwele" data-parent="#accordionExample-2">
                            <div class="card-body"> Yes, they can log on in separately. They also have the rights to add, modify and delete businesses. They are also able to view enquiries.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingthirteen">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen"><i class="material-icons">add</i> How much does it cost for Business Brokers to list businesses on Tobuz? </a>                               
                            </h2>
                        </div>
                        <div id="collapsethirteen" class="collapse" aria-labelledby="headingthirteen" data-parent="#accordionExample-2">
                            <div class="card-body">This depends on the Broker package that you opt for.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingfourteen">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen"><i class="material-icons">add</i> I’m a Business Broker, how long will my listing appear on the site?</a>                               
                            </h2>
                        </div>
                        <div id="collapsefourteen" class="collapse" aria-labelledby="headingfourteen" data-parent="#accordionExample-2">
                            <div class="card-body">This depends on the package that you opt for.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingfifteen">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen"><i class="material-icons">add</i> How Can I View, Edit or Delete my Current Listing?</a>                               
                            </h2>
                        </div>
                        <div id="collapsefifteen" class="collapse" aria-labelledby="headingfifteen" data-parent="#accordionExample-2">
                            <div class="card-body">Broker can edit the listing through his dashboard. Dashboard has all the features about editing/ adding any category listing.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingsixteen">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen"><i class="material-icons">add</i> How do I remove a SOLD business from your website?</a>                               
                            </h2>
                        </div>
                        <div id="collapsesixteen" class="collapse" aria-labelledby="headingsixteen" data-parent="#accordionExample-2">
                            <div class="card-body">You may remove a business listing in just one click by clicking on the “inactive” button on the dashboard or even “delete” it. You may also send us an email telling us which listing you need to be taken down which can be done without the broker’s request as well.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                </div>
                <!-- accordion 3 finish -->
      </div>
      <!-- panel 3 finish -->
      <!-- panel 4 start -->
      <div class="panel" id="four-panel">
      <!-- accordion 4 start -->
     <div class="accordion" id="accordionExample-3">
     <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingseventeen">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseventeen" aria-expanded="false" aria-controls="collapseseventeen"><i class="material-icons">add</i> Who can help me if I cannot maintain my account or make changes?</a>									
                            </h2>
                        </div>
                        <div id="collapseseventeen" class="collapse" aria-labelledby="headingseventeen" data-parent="#accordionExample-3" style="">
                            <div class="card-body"> In the Franchise Package, the relationship manager will be dedicated to your account and he can take a lead in getting the same sorted with other features attached to the services provided.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header highlight" id="headingeighteen">
                            <h2 class="mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseeighteen" aria-expanded="true" aria-controls="collapseeighteen"><i class="material-icons">remove</i> How many listings can a Franchisor add? </a>
                            </h2>
                        </div>
                        <div id="collapseeighteen" class="collapse show" aria-labelledby="headingeighteen" data-parent="#accordionExample-3" style="">
                            <div class="card-body">Franchisors are allowed to add a maximum of 1 listing per package.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingnineteen">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenineteen" aria-expanded="false" aria-controls="collapsenineteen"><i class="material-icons">add</i> What actions do you take if my listings are not receiving any enquiries?</a>                     
                            </h2>
                        </div>
                        <div id="collapsenineteen" class="collapse" aria-labelledby="headingnineteen" data-parent="#accordionExample-3">
                            <div class="card-body">Listing will be updated twice a month on our featured business section for the franchisor to have more traffic on his dashboard.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwenty">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwenty" aria-expanded="false" aria-controls="collapsetwenty"><i class="material-icons">add</i> I’m a Franchisor, how long will my listing appear on the site?</a>                               
                            </h2>
                        </div>
                        <div id="collapsetwenty" class="collapse" aria-labelledby="headingtwenty" data-parent="#accordionExample-3">
                            <div class="card-body"> Your Listing would be reflected on our site as long as your membership annual package is valid.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentyone">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentyone" aria-expanded="false" aria-controls="collapsetwentyone"><i class="material-icons">add</i> How much does it cost for Franchisors to list on ToBuz.com?</a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentyone" class="collapse" aria-labelledby="headingtwentyone" data-parent="#accordionExample-3">
                            <div class="card-body">We have an annual package for Franchisors. You may please review the Franchisors package section to view all the features and the cost.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentytwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentytwo" aria-expanded="false" aria-controls="collapsetwentytwo"><i class="material-icons">add</i> What if I cannot find the business category that I want the business to be listed </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentytwo" class="collapse" aria-labelledby="headingtwentytwo" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentythee">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentythee" aria-expanded="false" aria-controls="collapsetwentythee"><i class="material-icons">add</i> How do I edit/remove my ad from this site? </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentythee" class="collapse" aria-labelledby="headingtwentythee" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentyfour">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentyfour" aria-expanded="false" aria-controls="collapsetwentyfour"><i class="material-icons">add</i> How long does it take to get my listing live? </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentyfour" class="collapse" aria-labelledby="headingtwentyfour" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentyfive">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentyfive" aria-expanded="false" aria-controls="collapsetwentyfive"><i class="material-icons">add</i> What data do I need before I start adding my listings? </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentyfive" class="collapse" aria-labelledby="headingtwentyfive" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentysix">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentysix" aria-expanded="false" aria-controls="collapsetwentysix"><i class="material-icons">add</i> How many images can I upload? </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentysix" class="collapse" aria-labelledby="headingtwentysix" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentyseven">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentyseven" aria-expanded="false" aria-controls="collapsetwentyseven"><i class="material-icons">add</i> How can my contact details be shown to others?</a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentyseven" class="collapse" aria-labelledby="headingtwentyseven" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentyeight">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentyeight" aria-expanded="false" aria-controls="collapsetwentyeight"><i class="material-icons">add</i> Do I get an email for enquiries? </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentyeight" class="collapse" aria-labelledby="headingtwentyeight" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                    <!-- card start -->
                    <div class="card">
                        <div class="card-header" id="headingtwentynine">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwentynine" aria-expanded="false" aria-controls="collapsetwentynine"><i class="material-icons">add</i> Can I get a refund? </a>                               
                            </h2>
                        </div>
                        <div id="collapsetwentynine" class="collapse" aria-labelledby="headingtwentynine" data-parent="#accordionExample-3">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <!-- card finish -->
                </div>
                <!-- accordion 4 finish -->
      </div>
      <!-- panel 4 finish -->
      </div>
    </div>
    </div>
    </div>
    </div>
    </section>