<section class="padtb50">
    <div class="container">
    <div class="row mb-20px">
    <!-- Client Testimonials title start -->
    <div class="col-md-12 col-lg-12 col-xl-12 about-us-text-area">
    <h1>Client Testimonials<br><span>What Our Clients Say About Us</span></h1>
    </div>
    <!-- Client Testimonials title finish -->
    </div>
    <div class="row">
    <!-- Client Testimonials 1 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Manvinder-singh.png" title="Manvinder Singh" alt="Manvinder Singh" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Manvinder singh<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 1 finish -->
    <!-- Client Testimonials 2 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Raveena-Shah.png" title="Raveena Shah" alt="Raveena Shah" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Raveena-Shah<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 2 finish -->
    <!-- Client Testimonials 3 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Sameera-Shetty.png" alt="Sameera Shetty" title="Sameera Shetty" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Sameera Shetty<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 3 finish -->
    <!-- Client Testimonials 4 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Parth-Goel.png" title="Parth Goel" alt="Parth Goel" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Parth Goel<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 4 finish -->
    <!-- Client Testimonials 5 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Sameer-Shetty.png" alt="Sameer Shetty" title="Sameer Shetty" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Sameer Shetty<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 5 finish -->
    <!-- Client Testimonials 6 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Ravi-Goel.png" title="Ravi Goel" alt="Ravi Goel" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Ravi Goel<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 6 finish -->
    <!-- Client Testimonials 7 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Manvinder-singh.png" title="Manvinder Singh" alt="Manvinder Singh" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Manvinder singh<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 7 finish -->
    <!-- Client Testimonials 8 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Raveena-Shah.png" title="Raveena Shah" alt="Raveena Shah" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Raveena-Shah<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 8 finish -->
    <!-- Client Testimonials 9 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Sameera-Shetty.png" alt="Sameera Shetty" title="Sameera Shetty" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Sameera Shetty<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 9 finish -->
    <!-- Client Testimonials 10 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Parth-Goel.png" title="Parth Goel" alt="Parth Goel" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Parth Goel<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 10 finish -->
    <!-- Client Testimonials 11 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Sameer-Shetty.png" alt="Sameer Shetty" title="Sameer Shetty" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Sameer Shetty<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 11 finish -->
    <!-- Client Testimonials 12 start -->
    <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
    <div class="testimonal-area">
    <div class="testimonal-photo"><img src="./assets/images/Ravi-Goel.png" title="Ravi Goel" alt="Ravi Goel" width="72" height="72"></div>
    <div class="testimonal-text-area"><div class="comaleft"><img src="./assets/images/comma-1.png"></div><div class="testimonal-text">Tobuz team is extremely professional and sold my supermarket in a very short span of time and the price was very short span of time and the price was very good. thanks, nitin for all the support and assistance in closing the business. <span class="coma-right"><img src="./assets/images/comma-2.png"></span></div>
    <div class="testimonal-person-area">
    Ravi Goel<br> 
    <span>Seller</span>
    </div>
    </div>
    </div>
    </div>
    <!-- Client Testimonials 12 finish -->
    <!-- load more button start -->
     <div id="loadMore" style="">
          <a href="#">Load More...</a>
        </div>
    <!-- load more button start -->	
    </div>
    </div>
    </section>
    <section class="dark-grey">
        <div class="container">
        <div class="testimonal-comment">Happy with our services? Do let us know your feedback. <a href="testmonal-form"><span class="testimonal-comment-button">Post Your Testimonial</span></a></div>
        </div>
        </section>