<section class="padtb50">
    <div class="container">
    <div class="row mb-20px">
    <div class="col-md-12 col-lg-12 col-xl-12 term-text">
    <!-- Terms and Conditions title start -->
    <h1>Terms and Conditions</h1>
    <!-- Terms and Conditions title finish -->
    <h2 class="subtitle-terms">Introduction</h2>
    <p>These terms and conditions govern your use of the Tobuz LLC (free zone enterprise), hereafter referred to as Tobuz, website, by using the website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use the website. The Tobuz website uses cookies. By using the website and agreeing to these terms and conditions, you consent to Tobuz’s use of cookies in accordance with the terms of Tobuz’s privacy policy.</p>
    <h2 class="subtitle-terms">Definitions</h2>
    <p>In addition to the terms defined elsewhere in the Us er Terms &amp; Conditions, and unless the context otherwise requires: “Account Holder” and/or “User” refers to any individual who registers for an account with any of the Website (“account”), and is therefore party to these Terms &amp; Conditions.</p>
    <p>“You” and/or “your” refers to that “account holder”.</p>
    <p>“We”, “us” and/or “our” or “Tobuz” refers to Tobuz LLC (free zone enterprise).</p>
    <p>“Tobuz LLC” maintains the <a href="https://www.tobuz.com" style="color:#6f6f6f;">www.tobuz.com</a> Website ("Site").</p>
    <h2 class="subtitle-terms">Disclaimer</h2>
    <p>The owner of this website, including all the affiliates and sub-branches, imparts the information present here and all the pages which comprise the website to its visitors (referred to as you or your) subjected to the terms and conditions mentioned in the Privacy Policy, Notices and Terms and Conditions sections which can be applicable to certain sections of the website. Tobuz.com Terms and Conditions should be carefully read before you use or create an account. Tobuz is a platform if you wish to buy, sell or lease business and commercial properties or to be listed in as a broker, business service providers and franchisor and use the business valuation tool. You are automatically bound by all terms and policy on this website when you create an account.</p>
    <p>The website has been launched to provide buyers and sellers of businesses, commercial properties, franchisee or franchisors, business service provider’s and a platform to advertise which may or may not be paid listings depending on the package purchased. Tobuz also provides a business valuation tools to sellers that gives an approximate value for their business, these are purely based on the information and numbers provided by the seller and Tobuz does not hold any liability on the selling price derived through this tool. This is completely the seller discretion to consider this as the final selling price.</p>
    <p>The message communications on the website is solely for business purpose and not for any other use. Tobuz is only a platform to liaison the communication between the different users and will not and can not be held liable for lack of responsiveness from either parties. Its purely at the individual’s discretion whether to respond or not</p>
    <h2 class="subtitle-terms">Information on the Website</h2>
    <p>Any claims put forward by third parties whether financial or else wise on this website have no confirmation, assurance or guarantee from our end. You agree and comprehend that you will be solely responsible for the verification of such claims and information before you go into any transaction via this website.</p>
    </div>
    </div>
    </div>
    </section>