<section class="padtb50">
   <div class="container">
      <div class="row mb-20px">
         <!-- Client Testimonials title start -->
         <div class="col-md-6 col-lg-6 col-6 col-xl-6 about-us-text-area">
            <h1>Blog</h1>
         </div>
         <div class="col-md-6 col-lg-6 col-6 col-xl-6">
            <a href="blog-gride.html"><span class="Grid-active">Grid</span></a> <a href="blog-list.html"><span class="List">List</span></a>
         </div>
         <!-- Client Testimonials title finish -->
      </div>
      <div class="row">
         <!-- blog grid 1 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Things-to-consider-when-selling-off-your-business-in-uae.jpg" title="Things To Consider When Selling Off Your Business In UAE" alt="Things To Consider When Selling Off Your Business In UAE" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Things To Consider When Selling Off Your Business In UAE</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 1 finish -->
         <!-- blog grid 2 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Best-business-setup-in.jpg" style="height: 250px;" title="Best business setup in Dubai with low investment" alt="Best business setup in Dubai with low investment" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Best business setup in Dubai with low investment</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022 by Nitin Gupta</p>
                  <p class="blog-text">Can’t money buy happiness? Habibi, Come to Dubai.  Dubai is one of the best countries</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 2 finish -->
         <!-- blog grid 3 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Best-Tailor-shops-in-Dubai.jpg" title="Best Tailor shops in Dubai" alt="Best Tailor shops in Dubai" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Best Tailor shops in Dubai</h3>
                  <p class="date-text font_size_in">Posted on February 8, 2022 by Nitin Gupta</p>
                  <p class="blog-text">A great tailor is like a great personal trainer- they tailor that suit to your natural physique.  Jidenna  If you want to know about</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 3 finish -->
         <!-- blog grid 4 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/How-can-I-start-a.jpg" title="How can I start a franchise business in UAE?" alt="How can I start a franchise business in UAE?" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>How can I start a franchise business in UAE?</h3>
                  <p class="date-text font_size_in">Posted on November 12, 2022 by Nitin Gupta</p>
                  <p class="blog-text">Trying to bring your business to soaring heights? Are you wondering how to get and start </p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 4 finish -->
         <!-- blog grid 5 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Is-the-salon-business.jpg" title="Is the salon business profitable in Dubai?" alt="Is the salon business profitable in Dubai?" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Is the salon business profitable in Dubai?</h3>
                  <p class="date-text font_size_in">Posted on November 10, 2022 by Nitin Gupta</p>
                  <p class="blog-text">Everyone likes the glam, and everyone wants to look gorgeous so do the people of Dubai. Nowadays, while </p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 5 finish -->
         <!-- blog grid 6 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/What-is-the-best.jpg" title="What is the best business to start in the UAE?" alt="What is the best business to start in the UAE?" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>What is the best business to start in the UAE?</h3>
                  <p class="date-text font_size_in">Posted on November 10, 2022 by Nitin Gupta</p>
                  <p class="blog-text">When it comes to your dream country, UAE is the best option for travel, business and to fulfill your dreams.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 6 finish -->
         <!-- blog grid 7 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Things-to-consider-when-selling-off-your-business-in-uae.jpg" title="Things To Consider When Selling Off Your Business In UAE" alt="Things To Consider When Selling Off Your Business In UAE" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Things To Consider When Selling Off Your Business In UAE</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 7 finish -->
         <!-- blog grid 8 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Best-business-setup-in.jpg" title="Best business setup in Dubai with low investment" alt="Best business setup in Dubai with low investment" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Best business setup in Dubai with low investment</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 8 finish -->
         <!-- blog grid 9 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Things-to-consider-when-selling-off-your-business-in-uae.jpg" title="Things To Consider When Selling Off Your Business In UAE" alt="Things To Consider When Selling Off Your Business In UAE" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Things To Consider When Selling Off Your Business In UAE</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 9 finish -->
         <!-- blog grid 10 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Things-to-consider-when-selling-off-your-business-in-uae.jpg" title="Things To Consider When Selling Off Your Business In UAE" alt="Things To Consider When Selling Off Your Business In UAE" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Things To Consider When Selling Off Your Business In UAE</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 10 finish -->
         <!-- blog grid 11 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Things-to-consider-when-selling-off-your-business-in-uae.jpg" title="Things To Consider When Selling Off Your Business In UAE" alt="Things To Consider When Selling Off Your Business In UAE" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Things To Consider When Selling Off Your Business In UAE</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 11 finish -->
         <!-- blog grid 12 start -->
         <div class="col-md-12 col-lg-6 col-xl-6 moreBox" style="display: none;">
            <div class="blog-warpper">
               <div class="blog-home-image"><a href="blog/blog-inside-page"><img src="./assets/images/Things-to-consider-when-selling-off-your-business-in-uae.jpg" title="Things To Consider When Selling Off Your Business In UAE" alt="Things To Consider When Selling Off Your Business In UAE" width="100%"/></a></div>
               <div class="blog-home-text-area">
                  <h3>Things To Consider When Selling Off Your Business In UAE</h3>
                  <p class="date-text font_size_in">Posted on February 14, 2022by Nitin Gupta</p>
                  <p class="blog-text">Running a business is not at all easy or simple, as situations keep on changing.</p>
                  <!-- <a href="">Read More</a> -->
               </div>
            </div>
         </div>
         <!-- blog grid 12 finish -->         	
      </div>
   </div>
</section>