<section class="padtb50">
    <div class="container">
    <div class="row justify-content-md-center mb-20px">
    
    <!-- login area start -->
    <div class="col-md-6 col-lg-5 col-xl-4 about-us-text-area">
    <div class="password-alert" *ngIf="showMessage">Your Password has been changed Successfully</div>
    <div class="loginarea">
    <!-- login title start -->
    <div class="changepassword"><h1>Change Password</h1></div>
    <!-- login title finish -->
    <form>
    <!-- password area start -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock.png" width="33" height="20"></span>
      </div>
      <input type="text" class="form-control login-user" placeholder="Email Id" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <!-- password area finish -->
    <!-- password area start -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock-1.png" width="33" height="24"></span>
      </div>
      <input type="text" class="form-control login-user" placeholder="New Password" aria-label="newPassword" aria-describedby="basic-addon1">
    </div>
    <!-- password area finish -->
    <!-- password area start -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock-2.png" width="33" height="21"></span>
      </div>
      <input type="text" class="form-control login-user" placeholder="Confirm Password" aria-label="confPassword" aria-describedby="basic-addon1">
    </div>
    <!-- password area finish -->
    
    <!-- submit button start -->
    <div class="login-submit-button-area"><button type="submit" class="btn login-submit-button">Password</button></div>
    <!-- submit button finish -->
    </form>
    </div>
    </div>
    <!-- login area start -->
    </div>
    </div>
    </section>