<section class="padtb50">
    <div class="container">
    <div class="row justify-content-md-center mb-20px">
    
    <!-- login area start -->
    <div class="col-md-6 col-lg-5 col-xl-4 about-us-text-area">
    <div class="password-alert" *ngIf="showMessage">{{displayMessage}}</div>
    <div class="password-alert_red" *ngIf="showErrorMessage">{{displayErrorMessage}}</div>
    <div class="loginarea">
    <!-- login title start -->
    <div class="changepassword"><h1>Forgot Password</h1></div>
    <!-- login title finish -->
    <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
    <!-- password area start -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/envelop.png" width="33" height="20"></span>
      </div>
      <input type="text" class="form-control login-user" #email formControlName="email" placeholder="Enter Email Address" aria-label="oldPassword" aria-describedby="basic-addon1">
    </div>        
    <!-- password area start -->
    <div class="input-group mb-3" *ngIf="isOptSent">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock-1.png" width="33" height="24"></span>
      </div>
      <input type="text" class="form-control login-user" #otp placeholder="Enter Opt" aria-label="Opt" formControlName="opt" aria-describedby="basic-addon1">
    </div>
    <!-- password area start -->
  <!--  <div class="input-group mb-3" >
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock-1.png" width="33" height="24"></span>
      </div>
      <input type="password" class="form-control login-user" formControlName="password" #password placeholder="New Password" aria-label="newPassword" aria-describedby="basic-addon1">
    </div>-->

    <div class="input-group mb-3" *ngIf="isOptVerified">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock.png" width="33" height="20"/></span>
      </div>
      <input type="password" id="password" tabindex="5" #password formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control login-user" placeholder="New Password *" aria-label="Password" aria-describedby="basic-addon1" required>
      <div class="input-group-prepend" style="width:50px;border-radius: 25px;border-right:1.5px solid#252525">
        <div class="input-group-text" style="margin-right: 10px;">
          <a (click)="togglePasswordVisibility('password')">              
            <span><i id="password_eyeId" class="fa fa-eye-slash" aria-hidden="true"></i></span>                         
          </a> 
        </div>
      </div>
    </div>

    <!-- password area finish -->
    <!-- password area start -->
 <!--   <div class="input-group mb-3" *ngIf="isOptVerified">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/lock-2.png" width="33" height="21"></span>
      </div>
      <input type="password" class="form-control login-user" formControlName="cpassword" #cpassword placeholder="Confirm Password" aria-label="confPassword" aria-describedby="basic-addon1">
    </div>-->
    <div class="input-group mb-3" *ngIf="isOptVerified">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><img src="./assets/images/co-password.png" width="33" height="22"/></span>
      </div>
      <input style="width: 20px;" id="cpassword" placeholder="Confirm Password" #cpassword [type]="showConfirmPassword ? 'text' : 'password'" formControlName="cpassword" class="form-control login-user" placeholder="Confirm Password *" aria-label="copassword" aria-describedby="basic-addon1">
           
      <div class="input-group-prepend" style="width:50px;border-radius: 25px;border-right:1.5px solid#252525">
        <div class="input-group-text" style="margin-right: 10px;">
          <a (click)="togglePasswordVisibility('cpassword')">              
            <span><i id="cpassword_eyeId" class="fa fa-eye-slash" aria-hidden="true"></i></span>                         
          </a> 
        </div>
      </div>
    </div>
    <!-- password area finish -->
    <!-- submit button start -->

    <div class="sendOpt"><button type="submit" class="btn login-submit-button">{{buttonName}}</button></div>
    
    <!-- submit button finish -->
    </form>
    <div *ngIf="buttonName === 'Verify Otp'" class="sendOpt"><button (click)="resendOtp()" class="btn login-submit-button">Resent OTP</button></div>
    </div>
    </div>
    <!-- login area start -->
    </div>
    </div>
    </section>